body {
    width: 1366px;
    height: 832px;
    top: 451px;
    left: 674px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 24px,119px;
    text-align: center;
    width: fixed (1366px);
    height: hug (88px);
    justify : space-between;

}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    width: 1120px;
    height: 404px;
    top: 123px;
    left: 123px;
    gap: 128px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

